# Mid-term Exam

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/UTA-DataScience/DATA1401.2020.Fall/blob/master/Exams/Mid-term/Exam.ipynb)

Add cells to this notebook as you need for your solutions and your test of your solutions.

1a. Write a function `first_alphabetically(lst)` that takes a list `lst` of strings and returns the string that is alphabetically first. For example, calling your function with the list of states:

In [ ]:
states=['Mississippi', 'Maryland', 'Delaware', 'Connecticut', 'Virginia', 'Utah', 'Kansas',
        'Wyoming', 'Indiana', 'Louisiana', 'Missouri', 'Illinois', 'Minnesota', 'Vermont', 
        'New Mexico', 'North Dakota', 'Wisconsin', 'Tennessee', 'New York', 'Oklahoma', 
        'Colorado', 'Pennsylvania', 'West Virginia', 'Alabama', 'Montana', 'Texas', 
        'Washington', 'Michigan', 'New Hampshire', 'Arkansas', 'Hawaii', 'Iowa', 
        'Idaho', 'Kentucky', 'Ohio', 'Nebraska', 'Alaska', 'Oregon', 'South Dakota', 
        'New Jersey', 'Florida', 'Georgia', 'Rhode Island', 'Arizona', 'Maine', 
        'South Carolina', 'California', 'Nevada', 'Massachusetts', 'North Carolina']

In [ ]:
def first_alphabetically(lst):
  ordered_list = ['']
  for s in states:
    for o in range(len(ordered_list)):
      if s < ordered_list[o]:
        ordered_list[o+1:] = ordered_list[o:]
        ordered_list[o] = s
        break
    if s > ordered_list[-1]:
      ordered_list.append(s)
  ordered_list.pop(0)
  return ordered_list[0]

should return the string `"Alabama"`. Note that you can compare strings:

In [ ]:
print("A">"B")
print("B">"A")
print("a"<"B")
print("bca">"bbc")

False
True
False
True

Make sure your implementation isn't case sensitive. **Do not use** python's built-in `min`, `max`, `sort` or any other sort function you find.

1b. Write a function `arg_first_alphabetically(lst)`, which does the same thing as in exercise 1 but returns the index of the first string alphabetically.

In [ ]:
def arg_first_alphabetically(lst):
  return lst.index(first_alphabetically(lst))

1c. Use your result in question 2 to implement a function `arg_sort_alphabetically(lst)` that returns a list that is alphabetically sorted. Sorting can be accomplished by successively applying the function in question 1 and removing the first element alphabetically. You can remove an element from a list using `pop()`. Make sure your implementation isn't case sensitive. Do not use python's built-in `min`, `max`, `sort` or any other sort function you find.

In [ ]:
def arg_sort_alphabetically(lst):
  ordered_list = ['']
  for s in states:
    for o in range(len(ordered_list)):
      if s < ordered_list[o]:
        ordered_list[o+1:] = ordered_list[o:]
        ordered_list[o] = s
        break
    if s > ordered_list[-1]:
      ordered_list.append(s)
  ordered_list.pop(0)
  return ordered_list

In [ ]:
print(first_alphabetically(states))
print(arg_first_alphabetically(states))
print(arg_sort_alphabetically(states))

Alabama
23
['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming']

2. Implement a function `outer_product` that takes two one-dimensional lists of numbers and returns the two-dimensional outer product matrix defined as:

\begin{equation*}
\begin{pmatrix} x_1\\x_2\\ \vdots \\x_m \end{pmatrix} \begin{pmatrix} y_1&y_2& \dots &y_n\end{pmatrix} =
\begin{pmatrix}
x_1y_1 & x_1y_2 & \dots & x_1y_n\\
x_2y_1 & x_2y_2 & \dots & x_2y_n\\
\vdots & \vdots & \ddots & \vdots \\
x_my_1 & x_my_2 & \dots & x_my_n
\end{pmatrix}
\end{equation*}

In other words the elements of matrix C which is the outer product of A and B are $c_{ij} = a_i b_j$.

In [ ]:
def outer_product(vertical = [1], horizontal = [1]):
  matrix = list()
  for x in vertical:
    temp_row = list()
    for y in horizontal:
      temp_row.append(x*y)
    matrix.append(temp_row)
  return matrix

In [ ]:
outer_product([1, 0, 3, 5], [5, 4, 2])

[[5, 4, 2], [0, 0, 0], [15, 12, 6], [25, 20, 10]]

3a. Implement a function `cumulative_sum(lst)` that takes a list of numbers and returns a list of same size where the element `i` is the sum of the elements `0` to `i` of the input list. For example given `[1,2,3]`, you should return [1,3,6].

In [ ]:
def cumulative_sum(lst):
  cumu_list = [lst[0]]
  for i in range(len(lst)-1):
    cumu_list.append(cumu_list[i]+lst[i+1])
  return cumu_list

In [ ]:
cumulative_sum([1, 2, 3, 5, 5, 6])

[1, 3, 6, 11, 16, 22]

3b. Imagine you have a normal distributed random variable `x`. For example `x` can be grades on this exam. Using the normal distribution generator and histogram functions from lecture (provided below) and `cumulative_sum` from previous question to compute what is the value of $x_{90}$ in $\sigma$ such that 90% of the values $x$ are below $x_{90}$. In other words:

$$
\int_{-\infty}^{x_{90}} N(x;\mu=0,\sigma=1) dx = 0.9
$$

In [ ]:
import math,random

def arange(x_min,x_max,steps=10):
    step_size=(x_max-x_min)/steps
    x=x_min
    out = list()
    for i in range(steps):
        out.append(x)
        x+=step_size
    return out

def generate_normal(N,m=0,s=1):
    out = list() 
    
    while len(out)<N:
#    for _ in range(int(float(N)/2)+1):
        U1=random.random()
        U2=random.random()
    
        out.append(s*math.sqrt(-2*math.log(U1))*math.cos(2*math.pi*U2)+m)
        out.append(s*math.sqrt(-2*math.log(U1))*math.sin(2*math.pi*U2)+m)

    return out[:N]

def histogram(data, n_bins=10,x_min=None, x_max=None):
    if x_min==None:
        x_min=min(data)
    if x_max==None:
        x_max=max(data)
        
    bin_edges = arange(x_min,x_max,n_bins)
    bin_edges.append(x_max)

    hist=[0]*n_bins
    
    for d in data:
        for i in range(n_bins):
            if d>=bin_edges[i] and d<bin_edges[i+1]:
                hist[i]+=1
                break
                
    return hist,bin_edges

In [ ]:
x90 = 1.3
t1 = generate_normal(10000)
t2 = histogram(t1, x_max=x90)[0]
t3 = ((cumulative_sum(t2)[-1])/len(t1))
print(t3)

0.9028

$x_{90}$ = 1.3

4a. Recall in quiz 1 we implemented parts of a poker game in python. The solution to quiz 1 is below. Modify the `flush`, `straight`, and `straight_flush` functions to return `None` instead of `False` and the highest card (value-wise) instead of "True".

In [ ]:
suits = ["Clubs", "Diamonds", "Hearts", "Spades"]
values = list(range(2,11)) + [ "Jack", "Queen", "King", "Ace"]

def make_deck():
    deck=list()
    for suit in suits:
        for value in values:
            deck.append((suit,value))
    return deck

def highest_card(han):
  highest_card = 0
  for card in han:
    c = values.index(card[1])
    if c > highest_card:
      highest_card = c
  return highest_card


def flush(hand):
    suit=None
    for card in hand:
        if suit:
            if not card[0]==suit:
                return None
        else:
            suit=card[0]
    return highest_card(hand)

def consecutive(lst): 
    return sorted(lst) == list(range(min(lst), max(lst)+1))

def straight(hand):    
    if consecutive([values.index(card[1]) for card in hand]):
      return highest_card(hand)
    else:
      return None

def straight_flush(hand):
    if straight(hand) and flush(hand):
      return highest_card(hand)
    else:
      return None

In [ ]:
test_flush = [('Clubs', 9),
  ('Clubs', 10),
  ('Clubs', 'Jack'),
  ('Clubs', 'Jack'),
  ('Clubs', 'Ace')]

test_no_flush= [('Hearts', 9),
  ('Clubs', 10),
  ('Clubs', 'Jack'),
  ('Clubs', 'Jack'),
  ('Clubs', 'Ace')]

test_straight = [('Clubs', 9),
  ('Spades', 10),
  ('Clubs', 'Jack'),
  ('Clubs', 'Queen'),
  ('Clubs', 'King')]

test_no_straight = [('Hearts', 9),
  ('Clubs', 10),
  ('Spades', 'Jack'),
  ('Clubs', 'Jack'),
  ('Clubs', 'King')]

test_straight_flush = [('Clubs', 9),
  ('Clubs', 10),
  ('Clubs', 'Jack'),
  ('Clubs', 'Queen'),
  ('Clubs', 'King')]

In [ ]:
print(flush(test_flush))
print(flush(test_no_flush))

print(straight(test_straight))
print(straight(test_no_straight))

print(straight_flush(test_straight_flush))
print(straight_flush(test_flush))

12
None
11
None
11
None

4b. Add two additional functions `three_of_a_kind` and `pair` that work in an analogous manner.

In [ ]:
def of_a_kind(hand, n):
  state = False
  for a in hand:
    kind = 0
    for b in hand:
      if a[1] == b[1]:
        kind = kind+1
    if kind == n:
      state = True
  return state

def three_of_a_kind(hand):
  if of_a_kind(hand, 3):
    return highest_card(hand)
  else:
    return None

def pair(hand):
  if of_a_kind(hand, 2):
    return highest_card(hand)
  else:
    return None

In [ ]:
p = [('Clubs', 9),
 ('Clubs', 7),
 ('Clubs', 9),
 ('Clubs', 'Jack'),
 ('Clubs', 'Jack')]

t = [('Clubs', 9),
 ('Clubs', 9),
 ('Clubs', 9),
 ('Clubs', 'Jack'),
 ('Clubs', 'Jack')]

print(pair(h))
print(three_of_a_kind(h))


print(pair(t))
print(three_of_a_kind(t))

9
None
9
9